.products{
    width:90%;
    margin:60px auto;
}

.products h2{
    text-align:center;
    margin-bottom:40px;
    color:#01411C;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:30px;
}

.product-card{
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 0 10px rgba(0,0,0,.1);
    transition:.3s;
}

.product-card:hover{
    transform:translateY(-5px);
}

.product-card img{
    width:100px;
    height:100px;
    object-fit:cover;
}

.product-card h3{
    margin:10px;
}

.product-card p{
    margin:10px;
    font-size:20px;
    color:#01411C;
    font-weight:bold;
}

.product-card button{
    width:90%;
    margin:1px;
    padding:12px;
    background:#01411C;
    color:white;
    border:none;
    border-radius:5px;
}

.product-card button:hover{
    background:#026d2d;
}

@media(max-width:600px){
.products-card{margin:100px;}}